.listImage {
  border-radius: 20px;
}

.paginationActive a {
  font-weight: bold;
  background-color: pink;
}

.paginationBtn {
  max-width: 80vw;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 40px;
  padding-left: 0px;
}

.paginationBtn a {
  cursor: pointer;
  font-style: italic;
  font-weight: 400;
  margin: 1.5vw;
  padding: 2vh 1.5vw;
  border-radius: 50px;
}

.paginationBtn a:hover {
  background-color: green;
  color: white;
}

.paginationContainer {
  background-color: gainsboro;
  margin: 0px 20px;
  padding: 20px;
  z-index: 20;
}

.productLinkContainer {
  cursor: pointer;
  filter: grayscale(1);
  margin: 20px 25px;
  text-decoration: none;
  transition: 200ms ease-in;
}

.productLinkContainer:hover {
  color: green;
  filter: grayscale(0);
}

.productListWrapper {
  align-content: center;
  align-items: center;
  background-color: gainsboro;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 20px;
  text-align: center;
  border-bottom: green dotted 1px;
}

.welcomeTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 50px 0px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 950px) {
  .productLinkContainer {
    filter: none;
  }

  .productLinkContainer h3{
    color:black;
  }
}
