.diet{
    text-transform: capitalize;
}

.ingrMetric{
    text-transform: capitalize;
}


.instructionWrapper {
  background-color: #fffde7;
  padding: 50px 20px;
  text-align: left;
}

.ingredient {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: #fffde7;
}

.ingrMeasure {
  color: rgb(51, 80, 0);
  font-weight: bold;
  padding-right: 5px;
}

.ingrTitle {
  font-weight: bold;
  padding-right: 20px;
  text-decoration-color: rgb(245, 153, 196);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-transform: capitalize;
  text-underline-offset: 10px;
}

.ingredientWrapper {
  display: flex;
  align-items: center;
  margin: 0px 50px;
}

.wrapper {
  margin: 0px 5vw;
  font-size: 1.2rem;
}

.productContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerContainer {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.headerContainer img {
    padding-right: 20px;
  }

@media (max-width: 950px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }
  .headerContainer img {
    width: 70vw;
  }

  .ingredientWrapper {
    margin: 0;
  }
  .ingrTitle{
    text-decoration: none;
  }
}
